* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 196px;
  background-color: #000000;
  padding: 24px;
  height: 90%;
}
nav .logo img {
  width: 130px;
}
nav .navigation ul {
  list-style: none;
  margin-top: 20px;
}
nav .navigation ul li {
  padding: 10px 0px;
}
nav .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
nav .navigation ul li a:hover, nav .navigation ul li a:active, nav .navigation ul li a:focus {
  color: #ffffff;
}
nav .navigation ul li a .fa {
  font-size: 20px;
  margin-right: 10px;
}
nav .navigation ul li a .fa:hover, nav .navigation ul li a .fa:active, nav .navigation ul li a .fa:focus {
  color: #b3b3b3;
}
nav .playlist ul {
  list-style: none;
  margin-top: 20px;
}
nav .playlist ul a {
  color: #858080;
  text-decoration: none;
  font-size: 10px;
}
nav .policies {
  position: absolute;
  bottom: 20px;
}
nav .policies ul {
  list-style: none;
}
nav .policies ul li {
  padding-bottom: 5px;
}
nav .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}
nav .policies ul li a:hover, nav .policies ul li a:active, nav .policies ul li a:focus {
  text-decoration: underline;
}

.button-green {
  background-color: #1db954;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-green:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.button-black {
  background-color: #202221;
  border-radius: 100px;
  box-shadow: rgba(255, 255, 255, 0.2) 0 -25px 18px -14px inset, rgba(255, 255, 255, 0.15) 0 1px 2px, rgba(255, 255, 255, 0.15) 0 2px 4px, rgba(255, 255, 255, 0.15) 0 4px 8px, rgba(255, 255, 255, 0.15) 0 8px 16px, rgba(255, 255, 255, 0.15) 0 16px 32px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-black:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.mainPageBg {
  background: linear-gradient(45deg, hsl(180deg, 3%, 6%) 50%, hsl(120deg, 5%, 15%) 100%);
}
.mainPageBg p {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.mainPageBg .clickableAlbum {
  color: white;
  font-weight: bold;
  font-size: 60px;
  cursor: pointer;
}
.mainPageBg .clickableArtist {
  cursor: pointer;
}
.mainPageBg .subtitle {
  color: lightgray;
  font-size: 15px;
  font-weight: 200;
}

.boldTitle {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.albumOrizzontali {
  border-radius: 5px;
  background: linear-gradient(270deg, rgba(209, 206, 206, 0.2), rgba(36, 36, 36, 0.5));
}
.albumOrizzontali div.col-md-8 {
  display: flex;
  align-items: center;
}
.albumOrizzontali div.card-body h5 {
  color: white;
  font-weight: 700;
}

.mysong .card {
  background-color: rgba(0, 0, 0, 0);
  color: white;
  max-width: 200px;
}
.mysong .card img {
  border-radius: 5px;
}
.mysong .card .card-body {
  padding: 0;
}
.mysong .card .card-body h5 {
  font-weight: bold;
  text-transform: capitalize;
  cursor: pointer;
}
.mysong .card .card-body p {
  font-size: 0.8em;
  color: grey;
  text-transform: capitalize;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.player {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.details {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 25px;
}

.now-playing {
  font-size: 1rem;
}

.track-name {
  font-size: 1.5rem;
  color: white;
}

.track-artist {
  font-size: 1rem;
  color: white;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.playpause-track,
.prev-track,
.next-track {
  opacity: 0.8;
  transition: opacity 0.2s;
  color: white;
}

.playpause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 1;
  color: white;
}

.slider_container {
  max-width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.seek_slider,
.volume_slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 5px;
  background: black;
  opacity: 0.7;
  transition: opacity 0.2s;
}

.seek_slider::-webkit-slider-thumb,
.volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: white;
  cursor: pointer;
  border-radius: 50%;
}

.seek_slider:hover,
.volume_slider:hover {
  opacity: 1;
}

.seek_slider {
  width: 60%;
}

.volume_slider {
  width: 30%;
}

.current-time,
.total-duration {
  padding: 10px;
}

i.fa-volume-down,
i.fa-volume-up {
  padding: 10px;
}

i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}

aside {
  background-color: black;
  color: white;
  font-size: 0.8em;
  height: 100%;
}
aside .friend {
  display: flex;
  justify-content: space-around;
}
aside .friend .name {
  font-weight: bold;
}
aside .friend img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 50px;
}

#albumCaricati {
  position: relative;
}

.sfondo {
  width: 100%;
  height: 60%;
  z-index: -1;
  opacity: 0.9;
  background-image: linear-gradient(rgba(243, 243, 243, 0.1), rgba(82, 82, 82, 0.1));
}
.sfondo img {
  filter: blur(100px);
  width: 100%;
  height: 60%;
}

div.intestazioneAlbum {
  margin: 0;
  padding: 50px 20px 10px 20px;
  background-color: transparent;
}
div.intestazioneAlbum img {
  box-shadow: 0px 0px 92px -5px rgb(0, 0, 0);
}
div.intestazioneAlbum div.col-9 {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
div.intestazioneAlbum div.col-9 p {
  font-size: 0.6em;
  padding: 0;
  margin: 0;
}
div.intestazioneAlbum div.col-9 p span img {
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 30px;
}
div.intestazioneAlbum div.col-9 h5 {
  font-size: 3em;
  font-weight: 800;
}

.bottoniAlbum {
  padding: 20px 30px;
  display: flex;
  align-items: center;
}
.bottoniAlbum button {
  padding: 10px 10px;
  font-size: 1.8em;
  border-radius: 100%;
  margin-right: 10px;
  border: none;
  aspect-ratio: 1/1;
  background: transparent;
  color: rgb(159, 157, 157);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.bottoniAlbum button:hover {
  color: white;
}
.bottoniAlbum button.play {
  background: transparent;
  font-size: 3em;
  color: rgb(13, 177, 13);
  text-align: center;
}

.intestazioneTracceAlbum {
  padding-top: 10px;
  margin: 0 10px 20px 10px;
  border-bottom: 1px solid lightgray;
}
.intestazioneTracceAlbum p {
  color: rgb(159, 157, 157);
  margin: 0;
  padding-bottom: 5px;
}

.tracceAlbum {
  margin: 0 10px 5px 10px;
}
.tracceAlbum p {
  color: rgb(159, 157, 157);
}
.tracceAlbum div.col-5 p:nth-of-type(1) {
  color: white;
  padding: 0;
  margin: 0;
}
.tracceAlbum div.col-5 p:nth-of-type(2) {
  font-size: 0.6em;
  font-weight: 300;
}

.intestazioneArtist {
  position: relative;
  background-position-x: center;
  background-position-y: 20%;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.intestazioneArtist h5 {
  padding-left: 20px;
  font-size: 5em;
  color: white;
  font-weight: 800;
}
.intestazioneArtist p {
  padding-left: 20px;
  font-size: 0.8em;
  color: white;
  margin: 0;
}
.intestazioneArtist p i {
  color: rgb(0, 15, 183);
  font-size: 1.6em;
}

.tracceArtista {
  margin: 0 10px 0px 10px;
}
.tracceArtista p {
  color: rgb(159, 157, 157);
}
.tracceArtista p span img {
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 30px;
}
.tracceArtista div.col-5 p {
  color: white;
  padding: 0;
  margin: 0;
}

.searchBar {
  border: 0;
  border-radius: 1em;
  padding: 0.2em 1em;
}

main.result-section {
  margin-left: 100px;
}/*# sourceMappingURL=style.css.map */