* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #121212;
  font-family: "Montserrat", sans-serif;
}

nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 196px;
  background-color: #000000;
  padding: 24px;
  height: 90%;
}
nav .logo img {
  width: 130px;
}
nav .navigation ul {
  list-style: none;
  margin-top: 20px;
}
nav .navigation ul li {
  padding: 10px 0px;
}
nav .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
}
nav .navigation ul li a:hover, nav .navigation ul li a:active, nav .navigation ul li a:focus {
  color: #ffffff;
}
nav .navigation ul li a .fa {
  font-size: 20px;
  margin-right: 10px;
}
nav .navigation ul li a .fa:hover, nav .navigation ul li a .fa:active, nav .navigation ul li a .fa:focus {
  color: #b3b3b3;
}
nav .playlist ul {
  list-style: none;
  margin-top: 20px;
}
nav .playlist ul a {
  color: #858080;
  text-decoration: none;
  font-size: 10px;
}
nav .policies {
  position: absolute;
  bottom: 20px;
}
nav .policies ul {
  list-style: none;
}
nav .policies ul li {
  padding-bottom: 5px;
}
nav .policies ul li a {
  color: #b3b3b3;
  font-weight: 500;
  text-decoration: none;
  font-size: 10px;
}
nav .policies ul li a:hover, nav .policies ul li a:active, nav .policies ul li a:focus {
  text-decoration: underline;
}

.button-green {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, 0.2) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.15) 0 1px 2px, rgba(44, 187, 99, 0.15) 0 2px 4px, rgba(44, 187, 99, 0.15) 0 4px 8px, rgba(44, 187, 99, 0.15) 0 8px 16px, rgba(44, 187, 99, 0.15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-green:hover {
  box-shadow: rgba(44, 187, 99, 0.35) 0 -25px 18px -14px inset, rgba(44, 187, 99, 0.25) 0 1px 2px, rgba(44, 187, 99, 0.25) 0 2px 4px, rgba(44, 187, 99, 0.25) 0 4px 8px, rgba(44, 187, 99, 0.25) 0 8px 16px, rgba(44, 187, 99, 0.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}

.mainPageBg {
  background: linear-gradient(45deg, hsl(180deg, 3%, 6%) 50%, hsl(120deg, 5%, 15%) 100%);
}
.mainPageBg p {
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.mainPageBg .clickableAlbum {
  color: white;
  font-weight: bold;
  font-size: 60px;
  cursor: pointer;
}
.mainPageBg .clickableArtist {
  cursor: pointer;
}
.mainPageBg .subtitle {
  color: lightgray;
  font-size: 15px;
  font-weight: 200;
}

.boldTitle {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

footer {
  width: 100%;
  height: 100px;
  background-color: #2F2F2F;
  color: white;
  position: fixed;
  bottom: 0;
}

footer img {
  width: 70px;
  border-radius: 5px;
}

h5 {
  font-size: 15px;
}

aside {
  background-color: black;
  color: white;
  font-size: 0.8em;
}
aside .friend {
  display: flex;
  justify-content: space-around;
}
aside .friend .name {
  font-weight: bold;
}
aside .friend img {
  border-radius: 50%;
  aspect-ratio: 1/1;
  width: 50px;
}/*# sourceMappingURL=style.css.map */