aside {
  background-color: black;
  color: rgb(173, 173, 173);
  font-size: 9px;
  
  .friend {
    display: flex;
    justify-content: space-around;
    cursor: pointer;
    &:hover{
      color: white;
    }
    .name {
      font-weight: 900;
    }

    img {
      border-radius: 50%;
      aspect-ratio: 1/1;
      width: 50px;
    }
  }
}
