aside {
  background-color: black;
  color: white;
  h2 {
  }
  .friend {
    font-size: 0.8em;
    display: flex;
    justify-content: space-around;
    .name {
      font-weight: bold;
    }

    img {
      border-radius: 50%;
      aspect-ratio: 1/1;
      width: 50px;
    }
  }
}
