
footer{
    width: 100%;
    height: 100px;
    background-color:  #2F2F2F;
    color: white;
    position: fixed;
    bottom: 0;
}
footer img{
    width: 70px;
    border-radius: 5px;
}
h5{
    font-size: 15px;
}